@keyframes itemAppear {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes spinner {
    100% {
      opacity: 0;
      z-index: -10;
    }
  } 
  

  @keyframes glow {
    30%{
      background: #cc00ff;
    }
    60%{
      background: #96528d;
    }
  }
  
  @keyframes color {
    30%{
      color: #ff00c8;
    }
    60%{
      color: #b701ff;
    }
  }
  
  @keyframes spin {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }